body {
  margin: 0;
  padding: 0;

  main {
    display: flex;
    .editor,
    .preview {
      width: 50%;
      overflow-y: scroll;
    }
    .editor {
      textarea {
        width: calc(100% - 40px);
        height: calc(100vh - 40px);
        padding: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        border-radius: 0;
        font: inherit;
        outline: none;
        resize: vertical;
      }
    }
    .preview {
      display: inline-block;
      height: calc(100vh - 40px);
      padding: 20px;
    }
  }
}
